.header {
	font-family: monospace;
    font-size: 14vmin;
    background: #2b303e;
    color: #ff9800;
    top: 0px;
    text-align: center;
    cursor: pointer;
      -webkit-transition: all 0.35s ease-in;	 
    padding: 1vmin;
	}
    .bton {
	padding: 8px;
    border: 2px solid #ef6c00;
    min-width: 5cm;
    max-width: 40%;
    border-radius: unset;
    color: #ef6c00;
    font-size: calc(0.5cm + 1vmin);
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    margin: 10px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: bisque;
	}
	.bton:hover {
	color: ghostwhite;
	background: #ff9800;
	border: 2px solid ghostwhite;
	}
	    .subbtn {
    padding: 8px;
    border: 2px solid #2b303e;
    min-width: 5cm;
    max-width: 40%;
    border-radius: unset;
    color: #2b303e;
    font-size: calc(0.5cm + 1vmin);
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    margin: 10px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: ivory;
	}
	.subbtn:hover {
	color: ghostwhite;
	background: #2b303e;
	border: 2px solid ghostwhite;
	}
	
	.container {
      position: fixed;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
    }
	.input {
    background-color: #ff9800;
    border: 1mm solid #ef6c00;
    font-family: "Titillium Web";
    line-height: calc(1cm + 2vmin);
    padding: 0px 1vmin;
    width: 100%;
    -webkit-transition: all 0.35s ease-in;
}
    textarea {
      background-color: #070F24;
      border: 1px solid #122435;
      color: #606B88;
      padding: 0.5em;
      width: 100%;
      -webkit-transition: all 0.35s ease-in;
    }
    input:active, input:focus, textarea:active, textarea:focus {
      outline: 1px solid #48788B;
      -webkit-transition: all 0.35s ease-in;
    }
    .debug {
      bottom: 0;
      position: fixed;
      right: 0;
      -webkit-transition: all 0.35s ease-in;
    }
    .debug__content {
      font-size: 14px;
      max-height: 0;
      overflow: hidden;
      -webkit-transition: all 0.35s ease-in;
    }
    .debug__content.is-active {
      display: block;
      max-height: 500px;
      -webkit-transition: all 0.35s ease-in;
    }
    .debug__btn {
      width: 100%;
      -webkit-transition: all 0.35s ease-in;
    }
    .spoken-response {
      display: none;
      overflow: hidden;
      -webkit-transition: all 0.35s ease-in;
    }
    .spoken-response.is-active {
      display: initial;
      -webkit-transition: all 0.35s ease-in;
    }
    .spoken-response__text {
background-color: #ef6c00;
    color: white;
    padding: 1mm;
    font-family: "Titillium Web";
    font-size: 7mm;
    text-align: justify;
    padding: 3mm 28% 3mm 28%;
	}
	::-webkit-input-placeholder{
	color: rgba(255, 255, 255, 0.5);
      -webkit-transition: all 0.35s ease-in;
	}
.inputin {
    background: #ff9800;
    border: none;
    outline: none;
    font-family: "Titillium Web";
    font-size: calc(0.3cm + 4vmin);
    text-align: center;
    -webkit-transition: all 0.35s ease-in;
    min-width: 5cm;
    min-height: 1cm;
}
	.inputin:active, .inputin:focus{
	outline:none;
	border:none;
	-moz-outline-style: none;
	}